.searchbarContainer{
    margin-top: .1%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .1%;
    height: 30px;
    
}

@media screen and (max-width:400px) {
    .searchbarContainer{
        width: 20%;
        display: block;
    }
}

.searchbar{
    background-color: rgba(110, 111, 111, 0.762);
}

.cancelSearch{
    padding:4px;
}
 
.error{
    color:red;
    font-size: .7em;
}