
.cardContainer{
    display: flex;
    justify-content: center;
    
}

.statContainer{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
 

}

.statBox{
    background-color: rgba(0, 0, 0, 0.448) !important;
    border: 1px solid #646361ac;
    border-radius: 4px;
    padding: 1.9%;
    width: 107%;
    margin-bottom: 1px;
    display: flex;
    justify-content: flex-start;
}

.viewDetailContainer{
    display: flex;
    justify-content: center;
}

.statsContainer{
    display: flex;
    align-items: flex-end;
}